# Virtual Environment
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# TensorFlow
logs/

# Models
*.keras
*.h5
*.tflite

# SQLite
*.db
*.sqlite

# macOS
.DS_Store

# Windows
Thumbs.db

# Environment
.env

# Local demo files
data/tflite/model_demo.tflite
*.pdf
